@import '../../styles/colors.scss';

.loginForm {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 460px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    span {
          text-align: end;
          margin-top: -5px;
        }

    h1 {
        margin: auto;
        margin-bottom: 10px;
        font-size: 20px;
    }
}
